html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body .vid-container .vid-controls .inner-controls .inner-controls-1, body .vid-container .vid-controls .inner-controls .inner-controls-2 {
  display: flex;
  justify-content: space-between; }

body .vid-container .vid-controls .time-rail {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  min-height: 7.5px;
  position: relative;
  width: 100%; }
  body .vid-container .vid-controls .time-rail .buffer {
    background-color: #7f7f7f;
    border-radius: 8px;
    height: 100%;
    position: absolute; }
  body .vid-container .vid-controls .time-rail .time {
    background-color: #ed792c;
    border-radius: 8px;
    height: 100%;
    position: absolute; }

body .vid-container .vid-controls .inner-controls .inner-controls-1 {
  width: 140px; }
  body .vid-container .vid-controls .inner-controls .inner-controls-1 p {
    line-height: 26px; }

body .vid-container .vid-controls .inner-controls img:hover {
  cursor: pointer;
  opacity: 1; }

body .vid-container .vid-controls .inner-controls {
  display: flex;
  justify-content: space-between;
  padding: 16.0px 12px 0;
  transition: 0.5s;
  width: 100%; }
  body .vid-container .vid-controls .inner-controls .inner-controls-2 {
    width: 300px; }
  body .vid-container .vid-controls .inner-controls img {
    max-height: 27px;
    opacity: .5;
    transition: 0.5s; }

body .vid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative; }
  body .vid-container .video-class {
    width: 100%; }
  body .vid-container .holder {
    bottom: 0;
    position: absolute;
    width: calc(100% - 24px); }
  body .vid-container .vid-controls {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80px;
    margin: 0 0 12px;
    padding: 12px;
    transition: 0.5s;
    width: 100%;
    z-index: 2147483647; }

body .vid-container .vid-controls .show-hide.inner-controls {
  opacity: 0;
  transition: 0.5s; }
  body .vid-container:hover .vid-controls .show-hide.inner-controls {
    opacity: 1; }

body .vid-container .toggle-height.vid-controls {
  height: 30px;
  transition: 0.5s; }
  body .vid-container:hover .toggle-height.vid-controls {
    height: 80px; }

body .transcript {
  padding: 12px; }
  body .transcript span {
    color: #808389;
    transition: 0.5s; }

body .transcript span.highlight {
  color: #ed792c; }

body .vid-container .captioning {
  margin: auto;
  width: 50%; }
  body .vid-container .captioning p {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    margin: 12px;
    padding: 12px;
    text-align: center; }

body .vid-container .captioning p.hidden {
  display: none; }

body .vid-container .vid-controls .inner-controls img.full-opacity {
  opacity: 1; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Asap", sans-serif;
  justify-content: center;
  line-height: 1.75rem; }

video:-webkit-media-controls-enclosure {
  display: none !important; }
