html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body .vid-container .vid-controls .inner-controls .inner-controls-1, body .vid-container .vid-controls .inner-controls .inner-controls-2-mobile, body .vid-container .vid-controls .inner-controls .inner-controls-2-desktop {
  display: flex;
  justify-content: center; }

body .vid-container .vid-controls .time-rail {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  min-height: 7.5px;
  position: relative;
  width: 100%; }
  body .vid-container .vid-controls .time-rail .buffer {
    background-color: #7f7f7f;
    border-radius: 8px;
    height: 100%;
    position: absolute; }
  body .vid-container .vid-controls .time-rail .time {
    background-color: #ed792c;
    border-radius: 8px;
    height: 100%;
    position: absolute; }

body .vid-container .vid-controls .inner-controls .inner-controls-1 {
  width: 140px; }
  body .vid-container .vid-controls .inner-controls .inner-controls-1 p {
    line-height: 26px; }

body .vid-container .vid-controls .inner-controls img:hover, body .transcript span:hover, .playback-callout ul li:hover, .volume-callout ul li:hover {
  cursor: pointer;
  opacity: 1; }

body .vid-container .vid-controls .inner-controls {
  display: flex;
  justify-content: space-between;
  padding: 16.0px 12px 0;
  transition: 0.3s;
  width: 100%; }
  body .vid-container .vid-controls .inner-controls .inner-controls-2-mobile {
    position: relative;
    width: 30px; }
    @media screen and (min-width: 737px) {
      body .vid-container .vid-controls .inner-controls .inner-controls-2-mobile {
        display: none; } }
  body .vid-container .vid-controls .inner-controls .inner-controls-2-desktop {
    display: none;
    width: 300px; }
    @media screen and (min-width: 737px) {
      body .vid-container .vid-controls .inner-controls .inner-controls-2-desktop {
        display: flex; } }
  body .vid-container .vid-controls .inner-controls img {
    max-height: 27px;
    min-width: 44px;
    opacity: .5;
    transition: 0.3s; }

body .vid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative; }
  body .vid-container .video-class {
    width: 100%; }
  body .vid-container .holder {
    position: relative;
    width: 100%;
    z-index: 2147483646; }
    @media screen and (min-width: 737px) {
      body .vid-container .holder {
        bottom: 0;
        left: 12px;
        position: absolute;
        width: calc(100% - 24px); } }
  body .vid-container .vid-controls {
    align-items: center;
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 12px;
    transition: 0.3s;
    width: 100%;
    z-index: 2147483647; }
    @media screen and (min-width: 737px) {
      body .vid-container .vid-controls {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 0 12px; } }

body .vid-container .vid-controls .show-hide.inner-controls {
  opacity: 1;
  transition: 0.3s; }
  body .vid-container:hover .vid-controls .show-hide.inner-controls {
    opacity: 1; }
  @media screen and (min-width: 737px) {
    body .vid-container .vid-controls .show-hide.inner-controls {
      opacity: 0; } }

body .vid-container .toggle-height.vid-controls {
  height: 80px;
  transition: 0.3s; }
  body .vid-container:hover .toggle-height.vid-controls {
    height: 80px; }
  @media screen and (min-width: 737px) {
    body .vid-container .toggle-height.vid-controls {
      height: 30px; } }

body .transcript {
  padding: 12px; }
  body .transcript span {
    color: #808389;
    transition: 0.3s; }

body .transcript span.highlight {
  color: #ed792c; }

body .vid-container .captioning {
  margin: auto;
  width: 100%; }
  @media screen and (min-width: 737px) {
    body .vid-container .captioning {
      width: 50%; } }
  body .vid-container .captioning p {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: -92px 12px 12px;
    padding: 12px;
    text-align: center; }

body .vid-container .captioning p.hidden, .hidden.mobile-controls, .hidden.playback-callout, .hidden.volume-callout {
  bottom: 28px;
  opacity: 0; }

body .vid-container .vid-controls .inner-controls img.full-opacity {
  opacity: 1; }

body .container {
  margin: auto;
  max-width: 1280px; }

.mobile-controls {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 68px;
  color: #fff;
  margin: 0 0 12px;
  padding: 12px;
  position: absolute;
  width: 100%; }
  .mobile-controls ul {
    display: flex;
    flex-direction: column; }
    .mobile-controls ul li {
      display: flex;
      justify-content: space-between; }
      .mobile-controls ul li p {
        display: flex;
        justify-content: space-between;
        width: 120px; }
        .mobile-controls ul li p span {
          transition: 0.3s; }
  @media screen and (min-width: 737px) {
    .mobile-controls {
      display: none; } }

.mobile-controls ul li p span.add-color, .playback-callout ul li.add-color, .volume-callout ul li.add-color {
  color: #ed792c; }

.image-holder {
  display: flex;
  justify-content: center;
  min-width: 44px;
  position: relative; }

.playback-callout, .volume-callout {
  align-items: center;
  background-color: #000;
  border-radius: 8px;
  bottom: 36px;
  display: flex;
  height: 120px;
  justify-content: center;
  left: -12px;
  opacity: 1;
  position: absolute;
  transition: 0.3s;
  width: 50px; }
  .playback-callout ul li, .volume-callout ul li {
    transition: 0.3s; }

.playback-speed,
.volume {
  max-width: 27px; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Asap", sans-serif;
  justify-content: center;
  line-height: 1.75rem; }

/*# sourceMappingURL=app.css.map */
