@import 'partials/reset';
@import 'bourbon/bourbon';
@import 'partials/variables';
@import 'partials/utilities';

body {
  @extend %vid-container;
  @extend %transcript;
  // @include display(flex);
  // @include flex-direction(column);
  // @include justify-content(center);
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  justify-content: center;
  line-height: 1.75rem;
}

video:-webkit-media-controls-enclosure {
  display: none !important;
}
