%control-share {
  display: flex;
  justify-content: center;

}

%time-rail {
  .time-rail {
    background-color: rgba($white, .15);
    border-radius: $border-radius;
    min-height: 7.5px;
    position: relative;
    width: 100%;

    .buffer {
      background-color: $buffer-color;
      border-radius: $border-radius;
      height: 100%;
      position: absolute;

    }

    .time {
      background-color: $tango;
      border-radius: $border-radius;
      height: 100%;
      position: absolute;

    }

  }
}

%inner-controls-1 {
  .inner-controls-1 {
    @extend %control-share;
    width: 140px;

    p {
      line-height: 26px;
    }
  }
}

%image-hover {
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}



%inner-controls {
  .inner-controls {
    @extend %inner-controls-1;
    @extend %show-hide;
    display: flex;
    justify-content: space-between;
    padding: $padding * 1.333333 $padding 0;
    transition: $transition;
    width: 100%;

    .inner-controls-2-mobile {
      @extend %control-share;
      position: relative;
      width: 30px;

      @media screen and (min-width: 737px) {
        display: none;
      }
    }

    .inner-controls-2-desktop {
      @extend %control-share;
      display: none;
      width: 300px;

      @media screen and (min-width: 737px) {
        display: flex;
      }
    }

    img {
      @extend %image-hover;
      @extend %full-opacity;
      max-height: 27px;
      min-width: 44px;
      opacity: .5;
      transition: $transition;
    }
  }
}

%vid-container {
  .vid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2147483647;

    .video-class {
      width: 100%;
    }

    .holder {
      position: relative;
      width: 100%;
      z-index: 2147483647;

      @media screen and (min-width: 737px) {
        bottom: 0;

        position: absolute;
        width: 100%;
      }
    }

    .captioning {
      @extend %captioning;
    }

    .vid-controls {
      @extend %time-rail;
      @extend %inner-controls;
      @extend %toggle-height;
      align-items: center;
      background-color: $black;
      bottom: 0;
      color: $white;
      display: flex;
      flex-direction: column;
      height: 80px;
      padding: $padding;
      transition: $transition;
      width: 100%;
      z-index: 2147483647;

      @media screen and (min-width: 737px) {
        background-color: rgba($black, .5);
        //margin: 0 0 12px;
      }
    }


  }
}

%show-hide {
  &.show-hide {
    opacity: 1;
    transition: $transition;

    .vid-container:hover & {
      opacity: 1;
    }
    @media screen and (min-width: 737px) {
      opacity: 0;
    }
  }
}

%toggle-height {
  &.toggle-height {
    height: 80px;
    transition: $transition;

    .vid-container:hover & {
      height: 80px;
    }

    @media screen and (min-width: 737px) {
      height: 30px;
    }
  }
}

%transcript {
  .transcript {
    padding: 12px;

    span {
      @extend %image-hover;
      @extend %highlight;
      color: $oslo-gray;
      transition: $transition;
    }
  }
}

%highlight {
  &.highlight {
    color: $tango;
  }
}

%captioning {
  margin: auto;
  width: 100%;

  @media screen and (min-width: 737px) {
    width: 50%;
  }

  p {
    @extend %hidden;
    align-items: center;
    background-color: rgba($black, .5);
    border-radius: $border-radius;
    color: $white;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: -92px $padding $padding;
    padding: $padding;
    text-align: center;
  }
}

%hidden {
  &.hidden {
    bottom: 28px;
    opacity: 0;
  }
}

%full-opacity {
  &.full-opacity {
    opacity: 1;
  }
}

%container {
  @extend %vid-container;
  @extend %transcript;

  .container {
    margin: auto;
    max-width: 1280px;
    padding: $padding;
  }
}

.mobile-controls {
  @extend %hidden;
  background-color: rgba($black, .5);
  bottom: 68px;
  color: $white;
  margin: 0 0 12px;
  padding: $padding;
  position: absolute;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: space-between;

      p {
        display: flex;
        justify-content: space-between;
        width: 120px;

        span {
          @extend %add-color;
          transition: $transition;
        }
      }
    }
  }

  @media screen and (min-width: 737px) {
    display: none;
  }
}


%add-color {
  &.add-color {
    color: $tango;
  }
}

.image-holder {
  display: flex;
  justify-content: center;
  min-width: 44px;
  position: relative;
}

.playback-callout {
  @extend %base-callout;
}

.volume-callout {
  @extend %base-callout;
}

%base-callout {
  @extend %hidden;
  align-items: center;
  background-color: $black;
  border-radius: $border-radius;
  bottom: 36px;
  display: flex;
  height: 120px;
  justify-content: center;
  left: -12px;
  opacity: 1;
  position: absolute;
  transition: $transition;
  width: 50px;

  ul {
    li {
      @extend %add-color;
      @extend %image-hover;
      transition: $transition;
    }
  }
}

.playback-speed,
.volume {
  max-width: 27px;
}
