$controls-bg: #000;
$black: #000;
$white: #fff;
$amaranth: #ed2c45;
$oslo-gray: #808389;
$padding: 12px;
$font-family: 'Asap', sans-serif;
$buffer-color: #7f7f7f;
$tango: #ed792c;
$transition: .5s;
$border-radius: 8px;
